<%- include("header"); -%>

<div class="columns is-centered my-6">
    <div class="column is-half">
        <div class="box">
            <h2 class="title is-2 has-text-centered">
                Login
            </h2>

            <p class="my-5 has-text-centered is-size-4">
                Don't have an account? <a href="/signup">Sign up now</a>.
            </p>

            <% if(locals.message) { %>
                <article class="message">
                    <div class="message-body"><%= locals.message %></div>
                </article>
            <% } %>

            <form method="POST">
                <div>
                    <div class="field mx-5">
                        <label class="label" for="email">E-mail</label>
                        <div class="control has-icons-left">
                            <input class="input" id="email" type="email" name="email" placeholder="e-mail address"
                                   autocomplete="email" required/>
                            <span class="icon is-medium is-left">
                              <i class="fas fa-envelope"></i>
                            </span>
                            <span id="email-error"></span>
                        </div>
                    </div>

                    <div class="field mx-5 pb-3">
                        <label class="label" for="password">Password</label>
                        <div class="control has-icons-left">
                            <input class="input" type="password" name="password" placeholder="password"
                                   autocomplete="current-password" required>
                            <span class="icon is-medium is-left">
                              <i class="fas fa-lock"></i>
                            </span>
                            <span id="password-error"></span>
                        </div>
                    </div>

                    <div class="level pt-3">
                        <div class="level-item">
                            <button type="submit" class="button is-primary is-medium">
                                Login
                            </button>
                        </div>

                        <div class="level-item">
                          <a href="/forgot-password" class="button is-family-secondary is-medium">
                              Forgot your password?
                            </a>
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>
</div>

<%- include("inputErrorScript"); -%>

<%- include("footer"); -%>
